.App {
  /* ... your existing styles ... */
}

.App h1.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

body {
  background-color: #ffb6c1; /* Baby Pink color */
  margin: 0; /* Remove default body margin */
  overflow: hidden; /* Prevent scrolling */
}

.App h1 {
  text-align: center; /* Center the header text */
  margin-top: 20px; /* Add margin to the top of the header */
}

#cat-container {
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  margin-top: 20px; /* Add margin to the top of the cat container */
}

.teleport-button {
  width: 100px; /* Replace with desired width */
  height: 40px; /* Replace with desired height */
  position: fixed; /* Required for transform: translate */
  bottom: 10px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  /* Transition for smoother animation */
  transition: transform 0.5s ease;
}

.yes {
  background-color: green;
  color: white;
  left: calc(50% + 20px);
}

.no {
  background-color: red;
  color: white;
  left: calc(50% - 120px);
}
